In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics

In [2]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, GridSearchCV

from sklearn.metrics import roc_curve, auc, accuracy_score
from sklearn.metrics import precision_recall_curve, confusion_matrix

from sklearn.preprocessing import Imputer

In [3]:
df = pd.read_csv("../HCV-Egy-Data.csv")
df.head()

,Age,Gender,BMI,Fever,Nausea/Vomting,Headache,Diarrhea,Fatigue & generalized bone ache,Jaundice,Epigastric pain,...,ALT 36,ALT 48,ALT after 24 w,RNA Base,RNA 4,RNA 12,RNA EOT,RNA EF,Baseline histological Grading,Baselinehistological staging
0,56,1,35,2,1,1,1,2,2,2,...,5,5,5,655330,634536,288194,5,5,13,2
1,46,1,29,1,2,2,1,2,2,1,...,57,123,44,40620,538635,637056,336804,31085,4,2
2,57,1,33,2,2,2,2,1,1,1,...,5,5,5,571148,661346,5,735945,558829,4,4
3,49,2,33,1,2,1,2,1,2,1,...,48,77,33,1041941,449939,585688,744463,582301,10,3
4,59,1,32,1,1,2,1,2,2,2,...,94,90,30,660410,738756,3731527,338946,242861,11,1

In [4]:
features = list(df.columns)
#exclude_list = ['Baselinehistological staging','WBC','RBC','HGB','Plat','ALT 48','ALT after 24 w','RNA Base','RNA 4','RNA 12','RNA EOT','RNA EF','Baseline histological Grading','Age','Gender','BMI','Fever','Nausea/Vomting','Headache','Diarrhea','Fatigue & generalized bone ache','Jaundice','Epigastric pain Epigastric pain']
#print features
exclude_list = ['Baselinehistological staging', 'WBC','RBC','HGB','Plat','ALT 48','ALT after 24 w','RNA Base','RNA 4','RNA 12','RNA EOT','RNA EF','Baseline histological Grading','AST 1','ALT 36']
for i in exclude_list:
    #print i
    features.remove(i)

    
X = df[features]
y = df['ALT 36'] 
comp = df['ALT 24']

#weeks = list('ALT 1','ALT4','ALT 12','ALT 24','ALT 36')
#X= df[weeks]
#print X.head
print y.size

1385

In [5]:
j=0
for i in comp:
    if(y[j]>i):
        y[j]=1
    else:
        y[j]=0
    j+=1

/opt/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/opt/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [7]:
# logistic regression
from sklearn.linear_model import LogisticRegression 

classifier = LogisticRegression(random_state = 0) 

classifier.fit(X_train, y_train) 

y_pred = classifier.predict(X_test) 

print ("Accuracy : ", metrics.accuracy_score(y_test, y_pred)*100)

('Accuracy : ', 75.45126353790613)

/opt/anaconda2/lib/python2.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [8]:
from sklearn.metrics import classification_report
print classification_report(y_test, y_pred)

              precision    recall  f1-score   support

           0       0.77      0.77      0.77       150
           1       0.73      0.73      0.73       127

   micro avg       0.75      0.75      0.75       277
   macro avg       0.75      0.75      0.75       277
weighted avg       0.75      0.75      0.75       277

In [9]:
from sklearn import tree

clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
y_predicted = clf.predict(X_test)

accuracy = accuracy_score(y_test, y_predicted)*100
print(round(accuracy, 2), '%')

(65.34, '%')

In [10]:
from sklearn.metrics import classification_report
print classification_report(y_test, y_pred)

              precision    recall  f1-score   support

           0       0.77      0.77      0.77       150
           1       0.73      0.73      0.73       127

   micro avg       0.75      0.75      0.75       277
   macro avg       0.75      0.75      0.75       277
weighted avg       0.75      0.75      0.75       277

In [11]:
df = pd.read_csv("../HCV-Egy-Data.csv")
df.head()

,Age,Gender,BMI,Fever,Nausea/Vomting,Headache,Diarrhea,Fatigue & generalized bone ache,Jaundice,Epigastric pain,...,ALT 36,ALT 48,ALT after 24 w,RNA Base,RNA 4,RNA 12,RNA EOT,RNA EF,Baseline histological Grading,Baselinehistological staging
0,56,1,35,2,1,1,1,2,2,2,...,5,5,5,655330,634536,288194,5,5,13,2
1,46,1,29,1,2,2,1,2,2,1,...,57,123,44,40620,538635,637056,336804,31085,4,2
2,57,1,33,2,2,2,2,1,1,1,...,5,5,5,571148,661346,5,735945,558829,4,4
3,49,2,33,1,2,1,2,1,2,1,...,48,77,33,1041941,449939,585688,744463,582301,10,3
4,59,1,32,1,1,2,1,2,2,2,...,94,90,30,660410,738756,3731527,338946,242861,11,1

In [12]:
features = list(df.columns)
#exclude_list = ['Baselinehistological staging','WBC','RBC','HGB','Plat','ALT 48','ALT after 24 w','RNA Base','RNA 4','RNA 12','RNA EOT','RNA EF','Baseline histological Grading','Age','Gender','BMI','Fever','Nausea/Vomting','Headache','Diarrhea','Fatigue & generalized bone ache','Jaundice','Epigastric pain Epigastric pain']
#print features
exclude_list = ['Baselinehistological staging', 'WBC','RBC','HGB','Plat','ALT 1','ALT4','ALT 12','ALT 24','ALT 36','ALT 48','ALT after 24 w','RNA EOT','RNA EF','Baseline histological Grading','AST 1']
for i in exclude_list:
    #print i
    features.remove(i)

    
X = df[features]
y = df['RNA EOT'] 
comp = df['RNA 12']

#weeks = list('RNA Base','RNA 4','RNA 12')
#X= df[weeks]
#print X.head
print y.size

1385

In [13]:
j=0
for i in comp:
    if(y[j]>i):
        y[j]=1
    else:
        y[j]=0
    j+=1

/opt/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/opt/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [15]:
# logistic regression
from sklearn.linear_model import LogisticRegression 

classifier = LogisticRegression(random_state = 0) 

classifier.fit(X_train, y_train) 

y_pred = classifier.predict(X_test) 

print ("Accuracy : ", metrics.accuracy_score(y_test, y_pred)*100)

('Accuracy : ', 66.4259927797834)

In [16]:
from sklearn.metrics import classification_report
print classification_report(y_test, y_pred)

              precision    recall  f1-score   support

           0       0.66      1.00      0.80       184
           1       0.00      0.00      0.00        93

   micro avg       0.66      0.66      0.66       277
   macro avg       0.33      0.50      0.40       277
weighted avg       0.44      0.66      0.53       277

/opt/anaconda2/lib/python2.7/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [17]:
from sklearn import tree

clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
y_predicted = clf.predict(X_test)

accuracy = accuracy_score(y_test, y_predicted)*100
print(round(accuracy, 2), '%')

(79.06, '%')

In [18]:
from sklearn.metrics import classification_report
print classification_report(y_test, y_pred)

              precision    recall  f1-score   support

           0       0.66      1.00      0.80       184
           1       0.00      0.00      0.00        93

   micro avg       0.66      0.66      0.66       277
   macro avg       0.33      0.50      0.40       277
weighted avg       0.44      0.66      0.53       277